/* body::-webkit-scrollbar {
  display:none;
} */
/* .newsletterEmailInput #letternewsBtn:hover{
  background-color: #f5881f;
} */

.pageRoot{
  display:flex;
}
ul[role="navigation"]{
  display: flex;
  list-style-type: none;
  padding-left:0px ;
  align-items: center;
}
ul[role="navigation"] li{
  margin:0px 10px;
  padding:5px 0px;
  text-decoration:none;
  border:1px solid black;
  cursor: pointer;
}
ul[role="navigation"] li a{
  padding:5px 15px;
  font-weight: 700;
}
ul[role="navigation"] li.break{
  border:0px solid black;
}
ul[role="navigation"] li.selected{
  border:1px solid #6095ff;
  background-color: #769ff0;
}
ul[role="navigation"] li:first-child,
ul[role="navigation"] li:last-child{
  border:0px solid rgb(0, 0, 0);
}
ul[role="navigation"] li:first-child a,
ul[role="navigation"] li:last-child a{
  padding:0px;
  margin-top: 0px;
}

.newsletterEmailInput label{
  padding: 0px 20px;
}
.letterInputParent .MuiFormControl-root.MuiTextField-root .MuiInputBase-root.MuiFilledInput-root::before,
.letterInputParent .MuiFormControl-root.MuiTextField-root .MuiInputBase-root.MuiFilledInput-root::before{
  border-bottom:0px solid silver !important;
}

.newsletterEmailInput input{
  background: #ffffff;
  box-shadow: 1px 2px 3px #dbdbdb;
}
.newsletterEmailInput label+div::before{
  border-bottom: none;
}
.newsletterEmailInput label .css-1ff8729-MuiInputBase-root-MuiFilledInput-root:hover{
  border-bottom: none;
}
.ani{
  display: inline-block;
  width: 0px;
  overflow: hidden;
  animation: loding 1s ease-in-out infinite ;
  height: 100%;
  position: relative;
  top: 11px;
  color: #2167ff;
  padding-left: 4px;
}
@keyframes loding {
  0%{
    width: 0px;
  }
  30%{
    width: 11px;
  }
  65%{
    width: 22px;
  }
  95%{
    width: 33px;
  }
}
body {
  scroll-behavior: smooth;
}

body {
  font-family: open sans !important;
}

.letsTalkFields .MuiInputBase-root{
  background-color: #ffffff;
}
.menuBtn{
  font-weight: 500;
  font-size: 14px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper{
  background-color:rgb(173 173 173);
}
.blogContent span {
  color: #ffffffa5
}
.teamImage:hover{
  transform:scale(1.1);
}
.work:nth-child(odd){
  background-color:#f9f9f9;
}

.contactUpperInputWrapper .MuiFormControl-root.MuiTextField-root{
  margin-bottom: 5px;
}

.contactUpperInputWrapper .MuiFormControl-root.MuiTextField-root .MuiInputBase-root.MuiFilledInput-root::before,
.contactLowerInputWrapper .MuiFormControl-root.MuiTextField-root .MuiInputBase-root.MuiFilledInput-root::before{
  border-bottom:0px solid silver !important;
}

.contactLowerInputWrapper .MuiInputBase-root.MuiFilledInput-root{
  height:100%;
  margin-bottom: 5px;
}

.pageWidth {
  max-width: 1920px;
  margin: auto;
}

.agencyServices img ,.weDo img {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height:auto;
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.leftContent::before {
  content: "''";
  text-align: center;
  font-size: 95px;
  color: #ffffff;
  font-weight: 300;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: block;
  background-color: #f5881f;
  position: relative;
  top: -45px;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, .25);
}

.weAreLeft img {
  height: auto !important;
}


.appBar .MuiBox-root.css-19kzrtu {
  display: none;
}

#navbarNav li {
  font-size: 14px;
  font-weight: 500;
  font-family: poppins;
  margin-left: 30px;
}

@media screen and (max-width:540px) {
  #footerBlog {
    margin: 35px 0px !important;
  }
  .logoWrapper{
    display: flex;
    justify-content:center ;
  }
}

@media screen and (max-width:899px) {

  .leftContent::before {
    top: -28px;
  }
  .aboutShopify img{
    width:100% !important;
  }

  .homeBanner {
    margin-top: 84px;
  }

  .menuBtn {
    color: #000000;
    margin:0px 0px 10px 0px !important;
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
  }

}

@media screen and (min-width:900px) {
  .homeBanner {
    margin-top: 0px;
  }

  .menuBtn {
    color: #ffffff;
    padding:0px 5px 5px 9px;
  }
 
}

@media screen and (min-width:900px) and (max-width:1025px) {
  .menuBtn {
    margin-left: 20px !important;
  }

  .menuList {
    margin-right: 20px !important;
  }
}

@media screen and (max-width:1024px) {
  .siteLogo {
    margin-left: 20px;
  }
}

.seoPageContentRoot .fusion-fullwidth.fullwidth-box[data-bg="https://www.justgoweb.com/wp-content/uploads/2021/05/seo-super-hero-banner.jpg"] {
  background-image: url('./images/seosuperherobanner.jpg');
  margin-top: 0px !important;
}
.seoPageContentRoot p{
  margin: 0px;
}

/*main seo page form css */
.seoPageContentRoot .seofrom .elementor-form input {
  border: 1px solid #ccc !important;
  font-family: 'Open Sans' !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  margin-top: 5px;
  height: 44px !important;
  border-radius: 0px;
  margin-right: 0;
}

.seoPageContentRoot .seofrom .elementor-form select {
  border: 1px solid #ccc !important;
  margin-top: 5px;
  font-size: 13px;
  font-family: 'Open Sans' !important;
  font-weight: 300 !important;
  height: 70px !important;
  border-radius: 0px;
}

.seoPageContentRoot .seofrom .elementor-form select option,
.seoPageContentRoot .seofrom .elementor-form input::placeholder {
  font-family: 'Open Sans' !important;
  font-weight: 300 !important;

}

.seoPageContentRoot .seofrom .elementor-form textarea {
  border: 1px solid #ccc !important;
  border-radius: 0px;
  margin-right: 0;
}

.seoPageContentRoot .seofrom .elementor-form [type="checkbox"] {
  height: inherit !important;
}

.seoPageContentRoot .elementor-field-option label {
  color: #7a7a7a !important;
  font-family: 'Open Sans' !important;
  font-weight: 300 !important;
}

.seoPageContentRoot .seofrom .elementor-form button {
  cursor: pointer;
}

.seoPageContentRoot .seofrom .elementor-form .elementor-field-option {
  padding-bottom: 5px;
}

.seoPageContentRoot .seofrom .elementor-form [type="checkbox"] {
  margin-top: 0;
  margin-right: 5px;
}

.seoPageContentRoot .seofrom .elementor-form #form-field-selectform {
  height: 44px !important;
}

/*main seo page form css end */